<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!--
    For Sql Server:
      <add name="OrdersManager" connectionString="Data Source=(local);Initial Catalog=PUConnector.Db;User Id=user;Password=password" providerName="System.Data.SqlClient"/>
    For Sql CE:
      <add name="OrdersManager" connectionString="Data Source=d:\some\path\puconnector.sdf" providerName="System.Data.SqlServerCe.4.0"/>
    -->
  </connectionStrings>

  <appSettings>
    <add key="MerchantPosId" value="145227"/>
    <add key="SecondSecurityKey" value="13a980d4f851f3d9a1cfc792fb1f5e50"/>
    <add key="IgnoreIncorrectNotifications" value="true"/>
    <!-- Before enable option "WriteExceptionsToEventLog" run the following command (with admin privileges):
         eventcreate /T ERROR /ID 1 /L APPLICATION /SO PUConnector /D "Unhandled exception" -->
    <add key="WriteExceptionsToEventLog" value="false"/>
    <add key="OrdersLimit" value="1000"/>
  </appSettings>
  
  <system.serviceModel>
    <!--
    <diagnostics>
      <messageLogging logEntireMessage="true"
                      logMessagesAtServiceLevel="true"
                      logMalformedMessages="true"
                      logMessagesAtTransportLevel="true" />
    </diagnostics>
    -->
    <bindings>
      <webHttpBinding>
        <binding contentTypeMapper="PUConnector.Notifications.Service.WebContentTypeMapperExt, PUConnector.Notifications.Service">
          <!-- mode="Transport" for https(ssl) -->
          <!-- To bind certificate run the following command:
               netsh http add sslcert ipport=0.0.0.0:90 certhash=_your_certificate_thumbprint appid={5b904e2a-e620-4a57-a059-5970f8e54977} -->
          <security mode="None"></security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp faultExceptionEnabled="false" automaticFormatSelectionEnabled="false" defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <errorHandler/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="errorHandler"
            type="PUConnector.Commons.WCF.ErrorHandlerElement, PUConnector.Commons" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="PUConnector.Notifications.Service.OrderNotify">
        <endpoint binding="webHttpBinding" contract="PUConnector.Notifications.Service.IOrderNotify"></endpoint>
        <host>
          <baseAddresses>
            <!-- Remember to register url in system http module (or run with administrator privileges):
                 netsh http add urlacl url=http://+:90/OrderNotify/ user=user_name
            -->
            <!-- "https://" for ssl -->
            <add baseAddress="http://localhost:90/OrderNotify" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <!--
      <source name="System.Net">
        <listeners>
          <add name="PUUIListener"/>
          <add name="XmlTraceFile"/>
          <add name="TraceFile"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="PUUIListener"/>
          <add name="XmlTraceFile"/>
          <add name="TraceFile"/>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="PUUIListener"/>
          <add name="XmlTraceFile"/>
          <add name="TraceFile"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="PUUIListener"/>
          <add name="XmlTraceFile"/>
          <add name="TraceFile"/>
        </listeners>
      </source>
      -->
      <source name="PUConnector">
        <listeners>
          <add name="PUUIListener"/>
          <!--
          <add name="XmlTraceFile"/>
          <add name="TraceFile"/>
          -->
        </listeners>
      </source>
      <source name="PUConnector.Connector">
        <listeners>
          <add name="PUUIListener"/>
          <!--
          <add name="XmlTraceFile"/>
          <add name="TraceFile"/>
          -->
        </listeners>
      </source>
      <source name="PUConnector.Manager">
        <listeners>
          <add name="PUUIListener"/>
          <!--
          <add name="XmlTraceFile"/>
          <add name="TraceFile"/>
          -->
        </listeners>
      </source>
      <source name="PUConnector.Receiver">
        <listeners>
          <add name="PUUIListener"/>
          <!--
          <add name="XmlTraceFile"/>
          <add name="TraceFile"/>
          -->
        </listeners>
      </source>
      <source name="PUConnector.UI">
        <listeners>
          <add name="PUUIListener"/>
          <!--
          <add name="XmlTraceFile"/>
          <add name="TraceFile"/>
          -->
        </listeners>
      </source>
    </sources>
    <switches>
      <!--
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
      <add name="System.ServiceModel" value="Verbose"/>
      <add name="System.ServiceModel.MessageLogging" value="Verbose"/>
      -->
      <add name="PUConnector" value="Verbose"/>
      <add name="PUConnector.Connector" value="Verbose"/>
      <add name="PUConnector.Manager" value="Verbose"/>
      <add name="PUConnector.Receiver" value="Verbose"/>
      <add name="PUConnector.UI" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="PUUIListener" type="PUConnector.Api.UI.PUUIListener, PUConnector.Api.UI" />
      <!--
      <add name="XmlTraceFile" type="System.Diagnostics.XmlWriterTraceListener" initializeData="xmltrace.svclog" />
      <add name="TraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log"/>
      -->
    </sharedListeners>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

</configuration>
