<?xml version="1.0"?>
<configuration>
  
  <!-- 
  Before host on IIS:
  1.) Install WCF http activation (Windows Features, Framework node)
  2.) C:\Windows\Microsoft.NET\Framework\v3.0\Windows Communication Foundation\servicemodelreg -i
  -->
  
  <connectionStrings>
    <!--
    For Sql Server:
      <add name="OrdersManager" connectionString="Data Source=(local);Initial Catalog=PUConnector.Db;User Id=user;Password=password" providerName="System.Data.SqlClient"/>
    For Sql CE:
      <add name="OrdersManager" connectionString="Data Source=d:\some\path\puconnector.sdf" providerName="System.Data.SqlServerCe.4.0"/>
    -->
  </connectionStrings>
  
  <appSettings>
    <add key="MerchantPosId" value="145227"/>
    <add key="SecondSecurityKey" value="13a980d4f851f3d9a1cfc792fb1f5e50"/>
    <add key="IgnoreIncorrectNotifications" value="true"/>
    <!-- Before enable option "WriteExceptionsToEventLog" run the following command (with admin privileges):
         eventcreate /T ERROR /ID 1 /L APPLICATION /SO PUConnector /D "Unhandled exception" -->
    <add key="WriteExceptionsToEventLog" value="false"/>
  </appSettings>
 
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding contentTypeMapper="PUConnector.Notifications.Service.WebContentTypeMapperExt, PUConnector.Notifications.Service">
          <!-- mode="Transport" for https(ssl) -->
          <security mode="None"></security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp faultExceptionEnabled="false" automaticFormatSelectionEnabled="false" defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <errorHandler/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="errorHandler"
            type="PUConnector.Commons.WCF.ErrorHandlerElement, PUConnector.Commons" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="PUConnector.Notifications.Service.OrderNotify">
        <endpoint binding="webHttpBinding" contract="PUConnector.Notifications.Service.IOrderNotify"></endpoint>
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
