<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <!--
    For Sql Server:
      <add name="OrdersManager" connectionString="Data Source=(local);Initial Catalog=PUConnector.Db;User Id=user;Password=password" providerName="System.Data.SqlClient"/>
    For Sql CE:
      <add name="OrdersManager" connectionString="Data Source=d:\some\path\puconnector.sdf" providerName="System.Data.SqlServerCe.4.0"/>
    -->
  </connectionStrings>
  
  <appSettings>
    <add key="MerchantPosId" value="145227"/>
    <add key="SecondSecurityKey" value="13a980d4f851f3d9a1cfc792fb1f5e50"/>
    <!-- Before enable option "WriteExceptionsToEventLog" run the following command (with admin privileges):
         eventcreate /T ERROR /ID 1 /L APPLICATION /SO PUConnector /D "Unhandled exception" -->
    <add key="WriteExceptionsToEventLog" value="false"/>
  </appSettings>
 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding>
          <!-- mode="Transport" for https(ssl) -->
          <!-- To bind certificate run the following command:
               netsh http add sslcert ipport=0.0.0.0:90 certhash=_your_certificate_thumbprint appid={5b904e2a-e620-4a57-a059-5970f8e54977} -->
          <security mode="None"></security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <errorHandler/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="errorHandler"
            type="PUConnector.Commons.WCF.ErrorHandlerElement, PUConnector.Commons" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="PUConnector.Api.Connector">
        <endpoint binding="basicHttpBinding" contract="PUConnector.Api.IConnector"></endpoint>
        <host>
          <baseAddresses>
            <!-- Remember to register url in system http module (or run with administrator privileges):
                 netsh http add urlacl url=http://+:90/Connector/ user=user_name
            -->
            <!-- "https://" for ssl -->
            <add baseAddress="http://localhost:90/Connector" />
          </baseAddresses>
        </host>
      </service>
      <service name="PUConnector.OrdersManager.Manager">
        <endpoint binding="basicHttpBinding" contract="PUConnector.OrdersManager.IManager"></endpoint>
        <host>
          <baseAddresses>
            <!-- Remember to register url in system http module (or run with administrator privileges):
                 netsh http add urlacl url=http://+:90/Manager/ user=user_name
            -->
            <!-- "https://" for ssl -->
            <add baseAddress="http://localhost:90/Manager" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

</configuration>
