<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <!--
    For Sql Server:
      <add name="OrdersManager" connectionString="Data Source=(local);Initial Catalog=PUConnector.Db;User Id=user;Password=password" providerName="System.Data.SqlClient"/>
    For Sql CE:
      <add name="OrdersManager" connectionString="Data Source=d:\some\path\puconnector.sdf" providerName="System.Data.SqlServerCe.4.0"/>
    -->
  </connectionStrings>
  
  <appSettings>
    <add key="MerchantPosId" value="145227"/>
    <add key="SecondSecurityKey" value="13a980d4f851f3d9a1cfc792fb1f5e50"/>
    <!-- Before enable option "WriteExceptionsToEventLog" run the following command (with admin privileges):
         eventcreate /T ERROR /ID 1 /L APPLICATION /SO PUConnector /D "Unhandled exception" -->
    <add key="WriteExceptionsToEventLog" value="false"/>
  </appSettings>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  
</configuration>
